*{
        scroll-behavior: smooth;
}

.hero-container{
    
        background-image: url('../../assets/images/librarium_bg.webp');
        background-size:cover;
        background-position:center;
      
}